---
layout: default
title: Home
---

<!-- Posts Index -->
<main class="site-main">
    <div class="site-content">
<!--         <div class="post-list inner">
            {% comment %}
                {% for post in paginator.posts %}
                {% include postbox.html %}
                {% endfor %}
            {% endcomment %} -->

        <div class="inner">
            <div class="post-content">
                {% capture my-include %}
                # WHY PARTNER WITH OTHER FAMILY OFFICES?

                The true long-term partners for family offices are family offices, due to shared mutual respect, direct and open communication, and an alignment of mission, vision, and values found among peers.

                Uniquely capable of leveraging their significant shared expertise, capital, and influence, inter-family office partnerships provide an attractive alternative to traditional fund managers, by operating with greater control and flexibility without facing the conflicting interests of limited time horizons, high fees, and regulatory restrictions.

                {% endcapture %}
                {{ my-include | markdownify }}
        </div><!-- .inner -->
    </div><!-- .post-list -->

        <!-- Pagination-->
        {% include pagination.html %}

    </div><!-- .site-content -->
</main><!-- .site-main -->
