---
layout: default
title: Home
---

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2VTS03N6PM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2VTS03N6PM');
</script>

<!-- Posts Index -->
<main class="site-main">
    <div class="site-content">
        <div class="post-list inner">
            {% for post in paginator.posts %}
            {% include postbox.html %}
            {% endfor %}
        </div><!-- .post-list -->

        <!-- Pagination-->
        {% include pagination.html %}

    </div><!-- .site-content -->
</main><!-- .site-main -->

